#include "C:\PB\PBWin80\WinAPI\resource.h"
#include "C:\ThinBasic\Lib\version.h"


VS_VERSION_INFO VERSIONINFO
FILEVERSION     THINBASIC_REGISTRY_VERSIONMAJOR, THINBASIC_REGISTRY_VERSIONMINOR, THINBASIC_REGISTRY_VERSIONBUILD, THINBASIC_REGISTRY_VERSIONREVISION
PRODUCTVERSION  THINBASIC_REGISTRY_VERSIONMAJOR, THINBASIC_REGISTRY_VERSIONMINOR, THINBASIC_REGISTRY_VERSIONBUILD, THINBASIC_REGISTRY_VERSIONREVISION
FILEOS          VOS_WINDOWS32
FILETYPE        VFT_DLL

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      THIN_COMMON_COMPANYNAME
      VALUE "FileDescription",  THINBASIC_REGISTRY_FILEDESCRIPTION
      VALUE "FileVersion",      THINBASIC_REGISTRY_VERSIONLITERAL
      VALUE "InternalName",     THINBASIC_REGISTRY_INTERNALNAME
      VALUE "OriginalFilename", THINBASIC_REGISTRY_ORIGINALFILENAME
      VALUE "LegalCopyright",   THIN_COMMON_LEGALCOPYRIGHT
      VALUE "ProductName",      THINBASIC_REGISTRY_PRODUCTNAME
      VALUE "ProductVersion",   THINBASIC_REGISTRY_VERSIONLITERAL
      VALUE "Comments",         THIN_COMMON_COMMENT
    END
  END
END
